.referralFormOuterDiv {
  background-color: #004e82;
}

.referralH2 {
  color:#fff;
  padding-top: 64px;
  font-size: 32px;
}

.mortgageCalculator {
  margin-top: 32px;
}

/* Background */
.mortgageCalculator ._2rRxbhZfd2m69aGyclMHup {
  background: none;
  padding: 0;
  border: none;
}

/* Form Styles */
.mortgageCalculator .FhD6sRmOe8tMY0xW6D0KO {
  padding-bottom: 32px;
}

/* Input Icon */
.mortgageCalculator ._3UZinu8u1JJRVIMHioZRr5 {
  height: 64px;
  font-size: 24px;
  color: #2ca4f2;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.formDiv {
  color: #fff;
  text-align: center;
  margin-top: 32px;
  padding-bottom: 64px;
}

@media (min-width: 1024px) {
  .loanCalcText {
    text-align: center;
  }
  .referralForm-div {
    margin: 0 auto;
    max-width: 504px;
  }
}
